<!DOCTYPE html>
<html>
<head>
  <title>MyEngine2</title>
  <%= stylesheet_link_tag    "my_engine_2/application", :media => "all" %>
  <%= javascript_include_tag "my_engine_2/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
